/*HEADER*/

@import '../base/variables';
@import '../base/mixins';

.header-container{
    margin: 0;
    padding: 0;

        .nav-link{
            @extend %links;
            color: $font-color;
            @include fontsize(1.5rem);
                }
        }
        

   
 

         

