/*seccion imagen en el header*/

/*import mixins*/
@import '../base/mixins';


.box-imagen{
    background-image: url("../img/fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 12%;
    @media screen and(max-width:600px) {
        background-size: cover;
        background-position: center;
        
    }

        .link-whats{
            position: fixed;
            right: 0;
            z-index: 1;
            bottom: 1rem;
            width: 6rem;
            height: 5rem;
            transition: all 0.4s;
            &:hover{
                @include prefijos(scale(1.6));
            }
        }
      .img-icono1{
          width: 15rem;
          /*media query*/
          @media screen and (max-width:600px) {
              width: 8rem;
              
          }
      }

        h1{
            @extend %flex;
            @include fontsize(10rem);
            @extend %estilo_letra;
            @media screen and(max-width:600px) {
                 @include fontsize(3rem);
                
            }
        }
         .parrafo{
            @extend %flex;
            @include fontsize(3rem);
            @extend %estilo_letra;
            @media screen and(max-width: 600px) {
                @include fontsize(1rem);
                
            }
         }

        .caja-scroll{
            display: flex;
            justify-content: center;
            animation: caja-parrafo 0.6s;
            animation-iteration-count: infinite;
            margin-top: 6%;
            width: 100%;
            @media screen and(max-width:600px) {
                display: none;
                
            }

                .caja-parrafo{
                    @include fontsize(80px);
                    color: $font-color;

                }

                    @keyframes caja-parrafo {
                        0%{ @include prefijos(translateY(10px));}
                    
                        25%{@include prefijos(translateY(20px));}
                    
                        50%{@include prefijos(translateY(30px));}
                    
                        75%{@include prefijos(translateY(40px));}
                    
                        100%{@include prefijos(translateY(50px));}
                    }
                }
        }

        
.linea-uno{
    width: 24em;
    margin: 3% auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    font-family: $font-fam; 
    @include fontsize(44px);
    /*WHITE-SPACE COMO SE MANEJA EL ESPACIO EN BLANCO DENTRO DE UN ELEMENTO*/
    white-space: nowrap;
    /*OVERFLOW lo que haya fuera del contenedor no se vea ni se genere un scroll*/
    overflow: hidden;
    /*media query*/
    @media screen and(max-width:600px) {
        @include fontsize(15px);
        font-weight: bolder;
        width: 7em;
        
    }
}
        .animacion-texto{
            animation: maquina 5s;
            animation-iteration-count: infinite;
        }


@keyframes maquina {
    from{
        width: 0;
        border-right-color: rgba(255,255,255,.75);
    }
    to{
        width: 24em;
        border-right-color:transparent ;
    }
}