/*SECCION PRODUCTOS*/


.productos{

    .box-producto{
        box-shadow: 0 0 5px 0 rgba(0,0,0,.55);
        padding-bottom: 1rem;
        margin-top: 2rem;

            .img-prod{
                width: 100% ;
                height: 20rem;
                object-fit: cover;
            }

            .texto{
                display: flex;
                justify-content: center;
                margin-top: 1rem;
                font-family: $font-fam;
                font-weight: bolder;
                font-size: 1.5rem;            }

            .link-producto{
                color: navy;
                display: flex;
                justify-content: space-around;
                font: $font-fam;
                font-size: 1.6rem;
                text-decoration: none;
                margin-top: 1.2rem;
                &:hover{
                    color: $color-hov;
                }
            }

    }
}