/*SECCION PRODUCTOS*/
@import '../base/mapas';

.productos{


    .box-producto{
        box-shadow: 0 0 5px 0 rgba(0,0,0,.55);
        padding-bottom: 1rem;
        margin-top: 2rem;
        @media screen and (max-width:600px) {
            margin-right: 1rem;
            
        }


            .img-prod{
                width: 100% ;
                height: 20rem;
                object-fit: cover;
            }

            .texto{
                @extend %flex;
                margin-top: 1rem;
                font-family: $font-fam;
                font-weight: $font-wei;
                @include fontsize(1.5rem);            }

            .link-producto{
                color: navy;
                display: flex;
                justify-content: map-get($estilo-link, justify-link );
                font-size: 1.6rem;
                text-decoration: map-get($estilo-link, text-link-decoration);
                margin-top: 1.2rem;
                @extend %links;
            }

    }
}