
/*
@mixin condicion($colores) {
    background-color: $colores;


    
    @if $colores == orange{
        border: 1px solid black;
    }@else {
        border: 2px dotted gray;
    }
}



.bg-condicion{
    @include condicion(black);
}
*/

