/*mixins es como el extends pero sin el valor definido, nos permite agregar un parametro vacio que le definis al usar*/

@mixin prefijos($valor) {
    transform: $valor;

    -webkit-transform: $valor;
    -o-transform: $valor;
    -moz-transform: $valor;
    
}

@mixin fontsize($tamaño) {
    font-size: $tamaño;

    
}